chat-worker/src/preview_local.html
chat-worker/.wrangler/*
chat-worker/dist/*
chat-worker/frontend/node_modules/*
chat-worker/migrations/*
chat-worker/node_modules/*
login-worker/migrations/*
convert.smaiclub.top/node_modules/*
convert.smaiclub.top/dist/*
.vscode/*