name = "chat-worker"
main = "src/index.js"
compatibility_date = "2025-12-14"

# 路由配置
routes = [
	{ pattern = "chat.smaiclub.top", custom_domain = true }
]

# Durable Objects 配置
[durable_objects]
bindings = [
  { name = "CHAT_ROOM", class_name = "ChatRoom" }
]

[[migrations]]
tag = "v1"
new_classes = ["ChatRoom"]

# Chat Database (New)
[[d1_databases]]
binding = "CHAT_DB"
database_name = "prod-chat-db"
database_id = "2b3109cb-9d56-4262-984d-c2a2eb38156c"

# User Database (Existing)
[[d1_databases]]
binding = "USER_DB"
database_name = "user_db"
database_id = "0b100581-db8c-46a3-92f8-55d2ee05c30a"

# Cleanup Cron
[triggers]
crons = ["*/15 * * * *"] # Every 15 minutes
