name = "chat-worker"
main = "src/index.js"
compatibility_date = "2025-12-14"

# 路由配置
routes = [
	{ pattern = "chat.smaiclub.top", custom_domain = true }
]

# Durable Objects 配置
[durable_objects]
bindings = [
  { name = "CHAT_ROOM", class_name = "ChatRoom" }
]

[[migrations]]
tag = "v1"
new_classes = ["ChatRoom"]

# D1 数据库配置
[[d1_databases]]
binding = "DB"
database_name = "prod-chat-db"
database_id = "764b8e99-492d-4640-a369-a06c7c90a40d"
